* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 1480px;
}

/* HEADER */

.header {
    background-color: #ED4C5C;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0px;
    left: 0px;
}

#intro h2 {
    position: absolute;
    width: 445px;
    height: 107px;
    top: 122px;
    left: 165px;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    text-align: justify;
    color: #FFFFFF;
}

#intro p {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    display: inline;
    color: #FFFFFF;
}

#intro img {
    display: inline-block;
    top: 357px;
    left: 162px;
    position: relative;
}

#intro #google {
    display: inline-block;
    top: 357px;
    left: 162px;
    position: relative;
    margin-right: 25px;
}

#intro #apple {
    display: inline-block;
    top: 357px;
    position: relative;
    margin-right: 29px;
}

#intro #windows {
    display: inline-block;
    top: 352px;
    position: relative;
}

#pictures #Video_bg1 {
    top: 116px;
    left: 841px;
    position: absolute;
    z-index: 1;
}

#pictures #Video_bg2 {
    top: 116px;
    left: 691px;
    position: absolute;
    z-index: 2;
}

#pictures #Video_bg3 {
    top: 94px;
    left: 735px;
    position: absolute;
    z-index: 999;
}

/* MAIN PART */

.body {
    position: absolute;
    width: 100%;
    height: 545px;
    left: 0px;
    top: 500px;
    background: #FFFFFF;
}

#contacts h2 {
    left: 165px;
    top: 114px;
    width: 445px;
    height: 107px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: justify;
    display: inline;
    color: #000000;
}

#contacts p {
    left: 165px;
    top: 240px;
    width: 445px;
    height: 64px;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    display: inline;
    color: #000000;
}

#first {
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 117px;
    border: 1px solid #333333;
    border-radius: 6px;
    display: inline;
}

#last {
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 117px;
    border: 1px solid #333333;
    border-radius: 6px;
    display: inline;
}

#number {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 201px;
    border: 1px solid #333333;
    border-radius: 6px;
}

input[type="text" i] {
    padding: 21px 31px 20px 31px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.5);
}

#service {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 285px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.chevron {
    position: absolute;
width: 14px;
height: 14px;
left: 1235px;
top: 808px;

font-family: 'Segoe MDL2 Assets';
font-size: 14px;
line-height: 14px;
color: rgba(19, 39, 67, 0.5);
}

select[name="Select Service" i] {
    padding: 21px 31px 20px 31px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}


#submit {
    position: absolute;
    width: 162px;
    height: 50px;
    left: 735px;
    top: 372px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
}

button[type="submit" i] {
    position: absolute;
    width: 92px;
    height: 17px;
    padding: 17px 34px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}



/* FOOTER */

.footer {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 1445px;
    background: #FAFAFA;
}

#one h2 {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 165px;
    top: 85px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

#one p {
    position: absolute;
    width: 254px;
    height: 54px;
    left: 166px;
    top: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #101010;
}

#two h2 {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 450px;
    top: 85px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

#two p {
    position: absolute;
    width: 254px;
    height: 54px;
    left: 450px;
    top: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #101010;
}

#three h2 {
    position: absolute;
    width: 109px;
    height: 22px;
    left: 734px;
    top: 85px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

#three #par1 {
    position: absolute;
    width: 122px;
    height: 14px;
    left: 734px;
    top: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;    
    color: #101010;
}

#three #par2 {
    position: absolute;
    width: 96px;
    height: 14px;
    left: 734px;
    top: 165px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #121212;
}

#facebook {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 734px;
    top: 199px;
}

#linkedin {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 760px;
    top: 199px;
}

#twitter {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 786px;
    top: 199px;
}

#four h2 {
    position: absolute;
    width: 102px;
    height: 22px;
    left: 1028px;
    top: 85px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

#cards {
    position: absolute;
    width: 216px;
    height: 31px;
    left: 1028px;
    top: 140px;
    /* background: url(secure-p-1.png); */
}

#copyright {
    position: absolute;
    width: 155px;
    height: 14px;
    left: 161px;
    top: 335px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
}
